.motley-btn-main {
	margin: 75px auto;
	display: block;
	width: 250px;
	height: 65px;
	background-color: teal;
	border-bottom: 5px solid rgb(7, 54, 54);
	text-align: center;
	padding: 10px 5px;
	font-size: 26px;
	color: white;
	transition: color 0.25s ease-in-out, border-bottom 0.25s ease-in-out;
	@media all and (max-width: 768px) {
		width: 200px;
		height: 50px;
		font-size: 18px;
	}
	&:hover {
		border-bottom: 0px solid transparent;
		color:rgb(181, 181, 181);
		cursor: pointer;
		text-decoration: none;
	}
}

.active {
	color:rgb(181, 181, 181);
	border-bottom: 0px solid transparent;
}

.large {
	width: 350px;
	@media all and (max-width: 768px) {
		width: 275px;
	}
}

.flex-btns {
	margin: 0 auto;
	display: flex;
	width: 525px;
	@media all and (max-width: 525px) {
		padding-top: 25px;
		width: 200px;
		* {
			margin: 5px auto;
		}
		flex-wrap: wrap;
	}
}
