.motley-btn-main {
	margin: 75px auto;
	display: block;
	width: 250px;
	height: 65px;
	background-color: teal;
	border-bottom: 5px solid rgb(7, 54, 54);
	text-align: center;
	padding: 10px 5px;
	font-size: 26px;
	color: white;
	transition: color 0.25s ease-in-out, border-bottom 0.25s ease-in-out;
	&:hover {
		border-bottom: 0px solid transparent;
		color:rgb(181, 181, 181);
		cursor: pointer;
		text-decoration: none;
	}
}
