.motley-footer {
    position: relative;
    z-index: 5;
    padding: 0;
    background-color: rgb(99, 99, 99);
    .footer-container {
        padding: 0;
        @media all and (max-width: 575px) {
            [class*="col"] {
                padding: 0;
            }
            .footer-row {
                width: 100%;
                transform: translateX(15px);
            }
        }
        padding: 25px 0;
        .content-header {
            margin-bottom: 25px;
            text-align: center;
            border-bottom: 2px solid black;
        }
        .content-list {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
            .content-link {
                display: block;
                text-decoration: none;
                border-radius: 5px;
                background: linear-gradient(to left, transparent 50%, black 50%);
                background-size: 220% 100%;
                background-position: right bottom;
                color: black;
                text-decoration: none;
                padding: 5px 0;
                margin: 5px 0;
                transition: all 0.5s linear;
                &:hover {
                    cursor: pointer;
                    color: teal;
                    background-position: left bottom;
                }
            }
        }
        .copyright {
            padding: 0 15px;
            margin-top: 25px;
            text-align: center;
            &:hover {
                cursor: default;
            }
        }
        .social-media-container {
            margin: 0 auto;
            display: flex;
            width: 90%;
            flex-wrap: wrap;
            .social-media {
                display: block;
                margin: 15px auto;
                width: 140px;
                height: 140px;
                border-radius: 50%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                transition: transform 0.5s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
            #twitter {
                background-image: url('/twitter.svg');
            }
            #instagram {
                background-image: url('/instagram.svg');
            }
            #facebook {
                background-image: url('/facebook.svg');
            }
            #youtube {
                background-image: url('/youtube.svg');
            }
            #pintrest {
                background-image: url('/pinterest.svg');
            }
            #shop {
                background-image: url('/cart.svg');
            }
        }
        [class*="col"] {
            padding-bottom: 30px;
        }
    }
}