.tab {
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	.tab-text {
		margin: 0 auto;
		display: block;
		position: relative;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		height: 0;
		width: 175px;
		span {
			text-align: center;
			display: block;
			padding-top: 10px;
		}
	}
	.white {
		border-bottom: 50px solid white;
		color: black;
	}
	.black {
		border-bottom: 50px solid black;
		color: white;
	}
}
.tab-white {
	background-color: black;
	.tab-text {
		border-bottom: 50px solid white;
		color: black;
	}
}

.tab-black {
	background-color: white;
	.tab-text {
		border-bottom: 50px solid black;
		color: white;
	}
}
