.tab {
	position: relative;
	z-index: 1;
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	.tab-text {
		margin: 0 auto;
		display: block;
		position: relative;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		height: 0;
		width: 250px;
		span {
			font-weight: bolder;
			font-size: 22px;
			text-align: center;
			display: block;
			padding-top: 10px;
		}
	}
	.white {
		border-bottom: 30px solid white;
		color: black;
	}
	.black {
		border-bottom: 30px solid black;
		color: white;
	}
}
.tab-white {
	background-color: black;
	.tab-text {
		border-bottom: 30px solid white;
		color: black;
	}
}

.tab-black {
	background-color: white;
	.tab-text {
		border-bottom: 30px solid black;
		color: white;
	}
}

.tab-transparent {
	margin-top: -30px;
	background-color: transparent;
}
