@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import "index";
@import './components/tab';
@import './components/buttons';
@import './components/header';
@import './components/footer';

.page-header {
	.animal-image {
		background-image: url('../../public/imgs/blackcat.jpg');
	}
}

.our-mission {
	background-image: url('https://ahredchair.com/sites/default/files/styles/banner__home/public/ah-16-creatingsuccessfornonprofits-slider.jpg?itok=bY_zDUkG');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -70px;
	padding-bottom: 70px;
	.mission-container {
		.mission-title {
			text-align: center;
			padding-top: 50px;
			font-size: 56px;
			color: teal;
		}
		.mission-statement {
			padding: 50px 0;
			text-align: center;
			line-height: 2;
			font-size: 18px;
		}
	}
}

.what-we-do-container {
	text-transform: capitalize;
	background-color: black;
	padding-bottom: 25px;
	font-size: 18px;
	text-align: center;
	@media all and (min-width: 768px) {
		text-align: left;
		.desc {
			font-size: 24px;
		}
	}
	.goal {
		font-size: 40px;
		text-align: center;
		color: teal;
		padding: 35px 0;
		text-transform: capitalize;
		font-weight: bolder;
		@media all and (min-width: 768px) {
			font-size: 56px;
		}
	}
	.desc {
		color: white;
		font-size: 18px;
	}
	.list {
		font-size: 14px;
		li {
			text-align: left;
			color: white;
			margin: 10px;
			padding: 5px;
		}
	}
}

.our-rescues {
	position: relative;
	z-index: 1;
	.video-container {
		position: relative;
		padding: 25px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.btn-container {
			width: 100vw;
		}
		.video {
			position: relative;
			margin: 15px;
			display: none;
			.title {
				text-align: center;
				padding: 5px 0;
			}
			.thumbnail {
				max-width: 100%;
				transform: filter 1s ease;
				filter: grayscale(100%);
			}
			.icon {
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -18px;
				margin-left: -37px;
				width: 75px;
				height: 75px;
				transition: transform 0.5s ease;
				border-radius: 50%;
				box-shadow: -4px 7px 5px 0px rgba(0,0,0,0.75);
			}
			&:hover {
				cursor: pointer;
				.icon {
					transform: scale(1.1);
				}
				.thumbnail {
					filter: grayscale(0%);
				}
			}
		}
		[id*="1"], [id*="2"] {
			display: block;
		}
		@media all and (min-width: 1087px) {
			[id*="3"], [id*="4"] {
				display: block;
			}
		}
		@media all and (min-width: 1200px) {
			[id*="5"], [id*="6"] {
				display: block;
			}
		}
		@media all and (min-width: 2105px) {
			[id*="7"], [id*="8"] {
				display: block;
			}
		}
	}
	.livestream-container {
		display: none;
		text-align: center;
		padding: 50px;
		font-size: 32px;
	}
}

.our-people {
	background-color: black;
	width: 100%;
	padding: 25px 0;
	.people-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.employee {
			opacity: 0.5;
			transform: translateY(-400px);
			margin: 50px 4%;
			width: 200px;
			height: 300px;
			.profile-pic {
				width: 200px;
				height: 200px;
				border-radius: 50%;
			}
			.employee-name {
				text-align: center;
				margin-top: 15px;
				color: rgb(196, 196, 196);
			}
			@media all and (max-width: 768px) {
				margin: 10px 4%;
				.profile-pic {
					display: block;
					margin: 0 auto;
					width: 150px;
					height: 150px;
				}
			}
		}
		[id$="-3"],[id$="-4"],[id$="-5"],[id$="-6"] {
			display: none;
		}
		@media all and (min-width: 585px) {
			[id$="-3"] {
				display: block;
			}
		}
		@media all and (min-width: 1200px) {
			.employee {
				display: block;
			}
		}
	}
	.motley-btn-main {
		display: block;
		position: relative;
		z-index: 3;
	}
}

.our-sponsors {
	width: 100%;
	height: auto;
	padding: 50px;
	.sponsors-container {
		padding-top: 50px;
		max-width: 1500px;
		margin: 0 auto;
		.sponsor-row {
			margin: 0 auto;
			justify-content: center;
			display: flex;
			.sponsor {
				display: none;
				opacity: 0;
				height: 0;
				width: 100%;
				text-align: center;
				background-image: url('../../public/imgs/blackcat.jpg');
				background-size: contain;
    		background-repeat: no-repeat;
				margin: 15px;
				transition: transform 0.5s ease-in-out;
				&:hover {
					cursor: pointer;
					transform: scale(1.05);
				}
				.overlay {
					display: none;
					opacity: 0;
					background-color: rgba(255, 255, 255, 0.77);
					.sponsor-title {
						padding: 15px 25px;
						font-size: 10vw;
						@media all and (min-width: 700px) {
							font-size: 5vw;
						}
						@media all and (min-width: 900px) {
							font-size: 36px;
						}
					}
					.sponsor-about {
						padding: 0px 15px;
						height: 100%;
						display: none;
						@media all and (min-width: 900px) {
							display: block;
						}
					}
				}
			}
			#sponsor-1 {
				background-image: url('../../public/imgs/logo-1.jpg');
			}
			#sponsor-2 {
				background-image: url('../../public/imgs/logo-2.jpg');
			}
			#sponsor-3 {
				background-image: url('../../public/imgs/logo-3.png');
			}
			#sponsor-4 {
				background-image: url('../../public/imgs/logo-4.jpg');
			}
			#sponsor-5 {
				background-image: url('../../public/imgs/logo-5.png');
			}
			#sponsor-6 {
				background-image: url('../../public/imgs/logo-6.jpg');
			}
			[id*="1"], [id*="4"] {
				display: block;
			}
			@media all and (min-width: 700px) {
				[id*="2"], [id*="5"] {
					display: block;
				}
			}
			@media all and (min-width: 1200px) {
				[id*="3"], [id*="6"] {
					display: block;
				}
				.sponsor-about {
					font-size: 1vw;
				}
			}
			@media all and (min-width: 1500px) {
				.sponsor-about {
					font-size: 16px;
				}
			}
		}
		.motley-btn-main {
			position: relative;
			z-index: 700;
		}
	}
}

.white {
	background-color: white;
}
.black {
	background-color: black;
}
