@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import "index";
@import './components/footer';
@import './components/header';
@import './components/buttons';
@import "./components/tab";

.hidden-input {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	visibility: none;
	color: 0;
	background-color: transparent;
	border: none;
}

.page-header {
	.animal-image {
		background-image: url('../../public/imgs/blackpeacock.jpg');
	}
}

.art-background {
	height: 100vh;
	background-image: url('../../public/imgs/kurtcobain.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	.container {
		padding-top: 20vh;
		.comment {
			text-transform: capitalize;
			line-height: 200%;
			width: 100%;
			background: black;
			color: white;
			text-align: center;
			margin: 0 auto;
			@media all and (min-width: 760px) {
				max-width: 700px;
			}
		}
	}
}

.form-container {
	background-color: rgb(61, 61, 61);
	padding-top: 50px;
	padding-bottom: 100px;
	height: auto;
	.container {
		max-width: 900px;
	}
	.form-part {
		::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.8);
		}
		::-moz-placeholder {
			color: rgba(255, 255, 255, 0.8);
		}
		:-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.8);
		}
		:-moz-placeholder {
			color: rgba(255, 255, 255, 0.8);
		}
		.email-us {
			color: teal;
			text-decoration: underline;
			text-align: center;
			font-size: 56px;
		}
		.form {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.input, .category-selector, .text {
				width: 100%;
				color: white;
				border: 2px solid rgb(47, 47, 47);
				background-color: rgb(91, 91, 91);
				padding: 10px 5px;
				margin: 15px auto;
                transition: all 0.5s linear;
                border-radius: 0;
			}
			.input, .text {
				&:hover {
					border: 2px solid rgb(74, 74, 74);
				}
				&:focus {
					outline: none;
					border: 2px solid white;
				}
			}
			.text {
				padding: 5px;
				height: 300px;
			}
			.category-selector {
				position: relative;
				text-align: center;
				padding: 10px 0;
				.category-list {
					display: none;
					padding: 0;
					margin: 0;
					list-style: none;
					max-height: 0;
					margin-top: 10px;
					background-color: rgb(91, 91, 91);
					width: calc(100% + 4px);
					margin-left: -2px;
					position: absolute;
					.category {
						background-color: rgb(91, 91, 91);
						border: 2px
						solid rgb(47, 47, 47);
						border-top: 1px solid rgb(47, 47, 47);
						border-bottom: 1px solid rgb(47, 47, 47);
						margin: 0;
						padding: 5px 0;
						&:first-child {
							border-top: 2px solid rgb(47, 47, 47);
						}
						&:last-child {
							border-bottom: 2px solid rgb(47, 47, 47);
						}
						&:hover {
							background-color: rgb(139, 139, 139)
						}
					}
				}
				&:hover {
					border: 2px solid rgb(74, 74, 74);
					cursor: pointer;
				}
			}
			.submit {
				border-top: none;
				border-left: none;
				border-right: none;
			}
			@media all and (min-width: 755px) {
				#category {
					width: 49%;
					margin-left: 2%;
				}
				#name {
					width: 49%;
				}
			}
		}
	}
	.voicemail {
		color: white;
		text-align: center;
		padding: 50px 0;
		h1 {
			padding: 8px 0;
			font-weight: bolder;
		}
		h2 {
			padding: 5px;
		}
	}
}

.location {
	.location-container {
		padding: 50px 0;
		display: flex;
		flex-wrap: wrap;
		.location-col {
			margin: 0 auto;
			text-align: center;
			width: 100%;
			@media all and (min-width: 768px) {
				width: 50%;
			}
			.address {
				padding: 10px;
				text-align: center;
			}
		}
		#location-col-1 {
			border-right: 2px solid rgb(56, 56, 56);
		}
	}
}
