@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
body {
	font-family: 'Sofia', 'Gotham', sans-serif;
}

.header {
	text-align: center;
	padding: 25px;
	font-size: 40px;
	font-weight: bolder;
	margin: 0;
}

.important-header {
	padding: 100px;
	text-decoration: underline;
}

.jumbotron {
	z-index: -2;
	position: relative;
	font-family: 'Lobster Two', cursive;
	width: inherit;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: black;
	border-radius: 0;
	.image-overlay {
		background-attachment: fixed;
		z-index: -1;
		position: relative;
		opacity: 0;
		padding-top: 50px;
		height: calc(100% - 50px);
		width: 100%;
		background-image: url('../../public/imgs/blackdog.jpg');
		background-size: contain;
		background-repeat: no-repeat;
	}
	.site-title {
		opacity: 0.5;
		transform: translateY(-50px);
		margin-top: -70vh;
		text-align: center;
		font-size: 120px;
		letter-spacing: 7px;
		color: rgb(135, 135, 135);
		font-weight: 200;
		&:hover {
			cursor: default;
		}
	}
	@media all and (min-width: 780px) {
		.site-title {
			margin-top: -80vh;
			text-align: right;
			padding-top: 15%;
			padding-right: 20%;
			font-size: 150px;
		}
		.image-overlay {
			height: 100%;
			margin: 0;
		}
	}
}

.nav-bar {
	width: 100%;
	opacity: 0.25;
	margin-top: -55px;
	border-top: 5px solid rgb(29, 29, 29);
	border-bottom: 5px solid rgb(29, 29, 29);
	background-color: rgb(43, 43, 43);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: auto;
	.nav-link {
		color: rgb(168, 168, 168);
		transition: color 0.25s ease-in-out;
		&:hover {
			color: teal;
		}
		.nav-icon {
			display: none;
			width: 25px;
			height: 25px;
			margin-right: 5px;
		}
		@media all and (min-width: 660px) {
			.nav-icon {
				display: inline-block;
			}
		}
	}
}

.animation-background {
	background-color: rgb(31, 31, 31);
}

.animation-container {
	padding-bottom: 100px;
	.animation-part {
		opacity: 0;
		img {
			display: block;
			margin: 0px auto;
			padding: 25px 0;
			width: 200px;
			height: 200px;
		}
	}
	#animation-4 {
		transform: translateY(0px);
		text-align: center;
	}
	.animation-arrow {
		transform: rotateZ(90deg);
	}
	.what-we-do {
		font-size: 48px;
		text-align: center;
		color: black;
	}
}

@media all and (min-width: 720px) {
	.animation-container {
		padding: 300px 0;
		height: 100vh;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.animation-part {
			width: 33.3%;
		}
		#animation-1 {
			// transform: translateY(-300px);
		}
		#animation-2 {
			// transform: translateX(-30vw);
			.animation-arrow {
				transform: rotateZ(0deg);
			}
		}
		#animation-3 {
			// transform: translateY(300px);
		}
		#animation-4 {
			// transform: translateY(300px);
			width: 100%;
			.what-we-do {
				padding: 25px 0;
				font-size: 48px;
			}
		}
	}
}

.heart-container {
	height: 100vh;
	margin: 0 auto;
	width: 100%;
	background-color: teal;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../../public/imgs/heart.svg');
	.heart-info {
		margin: 0 auto;
		display: block;
		font-size: calc(6vw + 20px);
		padding-top: 25vh;
		height: 100%;
		width: 50%;
		text-align: center;
	}
}

.saved-container {
	padding-top: 50px;
	background-color: rgb(58, 102, 92);
	.help-container {
		margin: 0 auto;
		width: 100%;
		max-width: 1200px;
		.help-col {
			text-align: center;
			img {
				background-color: rgb(32, 32, 32);
				padding: 25px;
				border-radius: 25px;
				display: block;
				margin: 0 auto;
				width: 20vw;
				height: 20vw;
				min-width: 100px;
				min-height: 100px;
				max-width: 250px;
				max-height: 250px;
			}
			h3 {
				margin-top: 25px;
			}
		}
		.or-col {
			h3 {
				font-size: 40px;
				padding: 25px 0;
				font-weight: bolder;
				text-align: center;
				text-decoration: underline;
			}
			@media all and (min-width:780px) {
				padding: 100px 0;
			}
		}
	}
}

.learn-more-background, .involvement-background, .resource-background {
	padding: 50px 0;
}

.involvement-background {
	background-color: white;
}

.resource-background, .learn-more-background {
	background-color: black;
}

.involvement-header {
	color: black;
}

.learn-more-container, .involvement-container {
	color: white;
	text-align: center;
}

.learn-more-icon, .involvement-icon, .resource-icon {
	display: block;
	margin: 0 auto;
	max-width: 250px;
	max-height: 250px;
	margin-bottom: 50px;
}

.resource-icon {
	padding-top: 75px;
}

.learn-more-button, .involvement-button, .resource-button {
	margin: 75px auto;
	display: block;
	width: 250px;
	height: 65px;
	background-color: teal;
	border-bottom: 5px solid rgb(7, 54, 54);
	text-align: center;
	padding: 10px 5px;
	font-size: 26px;
	color: white;
	transition: color 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
	&:hover {
		border-bottom: 0px solid transparent;
		color:rgb(181, 181, 181);
		cursor: pointer;
		text-decoration: none;
	}
}

.resource-container {
	background-color: black;
	.resource-header {
		text-align: center;
		color: white;
	}
}

.footer-container {
	background-color: rgb(157, 157, 157);
	padding: 25px 0;
	.footer-row {
		width: 100%;
	}
	.content-header {
		text-align: center;
	}
	.content-list {
		padding: 0;
		margin: 0;
		text-align: center;
		.content-link {
			color:black;
			text-decoration: none;
			padding: 5px 0;
		}
	}
}
