@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import "index";
@import './components/tab';
@import './components/buttons';
@import './components/header';
@import './components/footer';

.page-header {
	.animal-image {
		background-image: url('../../public/imgs/blackeagle.jpg');
	}
}

.art-background {
	height: 100vh;
	background-image: url('../../public/imgs/beattles.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	.container {
		padding-top: 20vh;
		.comment {
			text-transform: capitalize;
			line-height: 200%;
			width: 100%;
			background: black;
			color: white;
			text-align: center;
			margin: 0 auto;
			@media all and (min-width: 760px) {
				max-width: 700px;
			}
		}
	}
}

.bg-white {
	background-color: white;
	.title, .info {
		color: black;
	}
}

.bg-black {
	background-color: black;
	.title, .info {
		color: white;
	}
}

.sponsor-background {
	.sponsor-container {
		.title {
			text-align: center;
			padding-top: 50px;
		}
		.logo {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 300px;
			height: 200px;
			display: block;
			margin: 25px auto;
			@media all and (min-width: 780px) {
				width: 800px;
				height: 600px;
			}
		}
		.info {
			font-size: 20px;
			line-height: 200%;
			margin: 0;
			text-align: center;
			padding: 25px 0 50px;
		}
	}
	#logo-1 {
		background-image: url('../../public/imgs/logo-1.jpg');	
	}

	#logo-2 {
		background-image: url('../../public/imgs/logo-2.jpg');
	}

	#logo-3 {
		background-image: url('../../public/imgs/logo-3.png');
	}

	#logo-4 {
		background-image: url('../../public/imgs/logo-4.jpg');
	}

	#logo-5 {
		background-image: url('../../public/imgs/logo-5.png');
	}

	#logo-6 {
		background-image: url('../../public/imgs/logo-6.jpg');
	}
}